In [8]:
try:
    import psycopg2
except:
    !pip install psycopg2-binary
    import psycopg2
    
import pandas as pd

# PostgreSQL database connection parameters
db_params = {
    "host": "fligoodb",
    "database": "testfligoo",
    "user": "fligoo",
    "password": "fligoo",
}

# Connect to the PostgreSQL database
connection = psycopg2.connect(**db_params)

# Query to fetch all data from the testdata table
query = "SELECT * FROM testdata;"

# Use Pandas to read the data into a DataFrame
df = pd.read_sql_query(query, connection)

# Close the database connection
connection.close()

# Print the DataFrame
df

/tmp/ipykernel_106/3375321297.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,flight_date,flight_status,departure_airport,departure_timezone,arrival_airport,arrival_timezone,arrival_terminal,airline_name,flight_number
0,2023-10-25,active,Mackay,Australia - Brisbane,Mount Isa,Australia/Brisbane,None,Toll Aviation,132.0
1,2023-10-25,active,Manas (Bishkek),Asia - Bishkek,Istanbul Airport,Europe/Istanbul,I,Turkish Airlines,347.0
2,2023-10-25,active,Abu Dhabi International,Asia - Dubai,Malé International Airport,Indian/Maldives,MAIN,Etihad Airways,278.0
3,2023-10-25,active,Abu Dhabi International,Asia - Dubai,Malé International Airport,Indian/Maldives,MAIN,flynas,3278.0
4,2023-10-25,active,Abu Dhabi International,Asia - Dubai,Malé International Airport,Indian/Maldives,MAIN,Oman Air,5104.0
...,...,...,...,...,...,...,...,...,...
95,2023-10-25,active,Mactan-Cebu International,Asia - Manila,Cagayan De Oro Domestic Airport,Asia/Manila,1,Cebu Pacific Air,6713.0
96,2023-10-25,active,Jackson Field,Pacific - Port_Moresby,Brisbane International,Australia/Brisbane,I,Air Niugini,5.0
97,2023-10-25,active,Abu Dhabi International,Asia - Dubai,None,None,T2,Air Arabia,525.0
98,2023-10-25,active,Maningrida,Australia - Darwin,Darwin,Australia/Darwin,D,empty,NaN
99,2023-10-25,active,Darnley Island,Australia - Brisbane,Horn Island,Australia/Brisbane,None,Hinterland Aviation,622.0